<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f7f7f7">
  <tbody>
    <tr>
      <td align="center" valign="top">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor="#f7f7f7">
          <tbody>
            <tr>
              <td class="m_8415581259083956697header" style="padding: 12px 0 0" align="center">
                <table width="620" border="0" cellspacing="0" cellpadding="0" class="m_8415581259083956697mobile-shell">
                  <tbody>
                    <tr>
                      <td
                        class="m_8415581259083956697td"
                        style="
                          width: 620px;
                          min-width: 620px;
                          font-size: 0;
                          line-height: 0;
                          font-weight: normal;
                          margin: 0;
                          padding: 0;
                        "
                      >
                        <table
                          class="m_8415581259083956697header"
                          width="100%"
                          border="0"
                          cellspacing="0"
                          cellpadding="0"
                          bgcolor="#f7f7f7"
                        >
                          <tbody>
                            <tr>
                              <td class="m_8415581259083956697header-inner" style="padding: 40px 15px">
                                <div style="font-size: 0; line-height: 0" align="center">
                                  <a
                                    href=""
                                    style="text-decoration: none; color: inherit"
                                    target="_blank"
                                    data-saferedirecturl=""
                                  >
                                    <svg
                                      xmlns="http://www.w3.org/2000/svg"
                                      fill="none"
                                      viewBox="0 0 24 24"
                                      stroke-width="1.5"
                                      stroke="#1B4571"
                                      style="width: 90px; height: 90px"
                                    >
                                      <path
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M9 12.75L11.25 15 15 9.75m-3-7.036A11.959 11.959 0 013.598 6 11.99 11.99 0 003 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285z"
                                      />
                                    </svg>
                                  </a>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>

        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tbody>
            <tr>
              <td align="center">
                <table width="620" border="0" cellspacing="0" cellpadding="0" class="m_8415581259083956697mobile-shell">
                  <tbody>
                    <tr>
                      <td
                        class="m_8415581259083956697td"
                        style="
                          width: 620px;
                          min-width: 620px;
                          font-size: 0;
                          line-height: 0;
                          font-weight: normal;
                          margin: 0;
                          padding: 0;
                        "
                      >
                        <table
                          class="m_8415581259083956697main-table"
                          width="100%"
                          border="0"
                          cellspacing="0"
                          cellpadding="0"
                          bgcolor="#ffffff"
                          style="border-radius: 10px"
                        >
                          <tbody>
                            <tr>
                              <td style="padding: 0">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                  <tbody>
                                    <tr>
                                      <td style="padding: 40px 46px">
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                          <tbody>
                                            <tr>
                                              <td>
                                                <div
                                                  class="m_8415581259083956697h1-mobile-medium"
                                                  style="
                                                    color: #1b4571;
                                                    font-family: 'Open Sans', sans-serif;
                                                    font-size: 24px;
                                                    line-height: 30px;
                                                    letter-spacing: 0;
                                                    font-weight: 600;
                                                  "
                                                  align="left"
                                                >
                                                  Password Change Confirmation
                                                </div>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td
                                                height="32"
                                                style="font-size: 0; line-height: 0; width: 100%; min-width: 100%"
                                                align="center"
                                              ></td>
                                            </tr>
                                            <tr>
                                              <td style="padding-bottom: 10px">
                                                <div
                                                  style="
                                                    color: #333333;
                                                    font-family: 'Open Sans', sans-serif;
                                                    font-size: 16px;
                                                    line-height: 26px;
                                                    font-weight: bold;
                                                  "
                                                  class="m_8415581259083956697text"
                                                  align="left"
                                                >
                                                  Dear <%= username %>,
                                                </div>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td style="padding-bottom: 36px">
                                                <div
                                                  class="m_8415581259083956697text"
                                                  style="
                                                    color: #333333;
                                                    font-family: 'Open Sans', sans-serif;
                                                    font-size: 16px;
                                                    line-height: 26px;
                                                  "
                                                  align="left"
                                                >
                                                  You password was successfully changed.
                                                </div>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td align="left">
                                                <table
                                                  width="300"
                                                  border="0"
                                                  cellspacing="0"
                                                  cellpadding="0"
                                                  bgcolor="#1B4571"
                                                  style="background: none"
                                                >
                                                  <tbody style="line-height: 30px">
                                                    <tr>
                                                      <td width="100%" align="left">
                                                        Email:
                                                        <span
                                                          style="color: #1b4571; font-size: 1.1rem; font-weight: 600"
                                                          ><%= email %></span
                                                        >
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td width="100%" align="left">
                                                        IP Address:
                                                        <span
                                                          style="color: #1b4571; font-size: 1.1rem; font-weight: 600"
                                                          ><%= ipaddress %></span
                                                        >
                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td width="100%" align="left">
                                                        Created:
                                                        <span
                                                          style="color: #1b4571; font-size: 1.1rem; font-weight: 600"
                                                          ><%= date %></span
                                                        >
                                                      </td>
                                                    </tr>
                                                  </tbody>
                                                </table>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td style="padding-top: 22px">
                                                <div
                                                  class="m_8415581259083956697text"
                                                  style="
                                                    color: #333333;
                                                    font-family: 'Open Sans', sans-serif;
                                                    font-size: 16px;
                                                    line-height: 33px;
                                                  "
                                                  align="left"
                                                >
                                                  <span class="il">Media App</span> Team
                                                </div>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
